---
import { articleConfig, commentConfig } from '@/config';
import ProfileCard from '@components/aside/ProfileCard.astro';
import TOC from '@components/aside/TOC.astro';
import Comment from '@components/Comment.astro';
import License from '@components/misc/License.astro';
import PostInfo from '@components/misc/PostInfo.astro';
import Markdown from '@components/utils/Markdown.astro';
import GridLayout from '@layouts/GridLayout.astro';
import { getOrCreateRenderResult } from '@utils/content-utils';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const articles = await getCollection('posts');
  return articles.map((article) => ({
    params: { article: article.data.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await getOrCreateRenderResult(article);

const description = article.data.description || remarkPluginFrontmatter.excerpt;
---

<GridLayout title={article.data.title} description={description}>
  <Fragment slot="header-content">
    <PostInfo
      title={article.data.title}
      publishedAt={article.data.published}
      category={article.data.category}
      tags={article.data.tags}
      wordsCount={remarkPluginFrontmatter.words}
      readingTime={remarkPluginFrontmatter.minutes}
      lang={article.data.lang}
      class="mx-2 mt-4"
    />
  </Fragment>
  <div class="card border-base-300 border-2 px-6 py-4">
    <Markdown>
      <Content />
    </Markdown>
    <License time={article.data.published} lang={article.data.lang} />
    {article.data.comment && commentConfig.enable && <Comment />}
  </div>
  <Fragment slot="aside-fixed">
    <ProfileCard />
  </Fragment>
  <Fragment slot="aside-sticky">
    {articleConfig.toc && <TOC headings={headings} />}
  </Fragment>
</GridLayout>
