---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
  url: string;
  title: string;
  cover: string;
}

const { url, title, cover } = Astro.props;
---

<a href={url} title={title} class="group">
  <div><Icon name="material-symbols:chevron-right-rounded" /></div>
  <Image src={cover} alt={title} inferSize={true} />
</a>

<style>
  a {
    @apply min-h-48 w-full md:w-3/4 md:max-w-96 relative;
    @apply active:brightness-75 active:scale-95 duration-100;
  }

  img {
    @apply w-full h-full object-cover rounded-md;
  }

  div {
    @apply absolute inset-0 w-full h-full bg-black/60;
    @apply flex items-center justify-center;
    @apply opacity-0 group-hover:opacity-100 duration-300;
  }

  svg {
    @apply w-24 h-24 text-white;
  }
</style>
