---
import { siteConfig } from '@/config';
import type { BlogPostData } from '@/types/data';
import MetaIcon from '@components/widgets/MetaIcon.astro';
import ProfileCard from '@components/widgets/ProfileCard.astro';
import TOC from '@components/widgets/TOC.astro';
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import GridLayout from '@layouts/GridLayout.astro';
import { getCategoryUrl, getPostsCount, getSortedPosts, getTagUrl } from '@utils/content-utils';

export async function getStaticPaths() {
  const allBlogPosts = await getSortedPosts();
  const yearMap = new Map<number, Map<number, { body: string; data: BlogPostData }[]>>();
  for (const post of allBlogPosts) {
    const year = post.data.published.getFullYear();
    const month = post.data.published.getMonth() + 1;
    let monthMap = yearMap.get(year);
    if (!monthMap) {
      monthMap = new Map();
      yearMap.set(year, monthMap);
    }
    let monthPosts = monthMap.get(month);
    if (!monthPosts) {
      monthPosts = [];
      monthMap.set(month, monthPosts);
    }
    monthPosts.push(post);
  }
  const data = Array.from(yearMap.entries()).map(([year, monthMap]) => ({
    year,
    data: Array.from(monthMap.entries()).map(([month, postData]) => ({
      month,
      data: postData,
    })),
  }));
  const paths = [
    {
      params: {
        time: undefined,
      },
      props: {
        data,
      },
    },
    ...data.map(({ year }) => ({
      params: {
        time: year.toString(),
      },
      props: {
        data: data,
      },
    })),
    ...data.flatMap(({ year, data: monthData }) =>
      monthData.map(({ month }) => ({
        params: {
          time: `${year}/${month}`,
        },
        props: {
          data: data,
        },
      }))
    ),
  ];
  return paths;
}

const { data } = Astro.props;
const slug = Astro.params.time;
const postCount = await getPostsCount();
---

<GridLayout>
  <div class="card card-bordered border-base-300 mb-4 border-2">
    <div class="breadcrumbs card-body text-md py-3">
      <ul>
        <li>
          <a href="/archives">{i18n(I18nKey.archive)}</a>
        </li>
        {
          slug &&
            (() => {
              const [year, month] = slug.split('/').map(Number);
              return (
                <>
                  <li>
                    <a href={`/archives/${year}`}>{year}</a>
                  </li>
                  {month && (
                    <li>
                      <a href={`/archives/${year}/${month}`}>{month}</a>
                    </li>
                  )}
                </>
              );
            })()
        }
      </ul>
    </div>
  </div>
  <div class="card card-bordered border-base-300 border-2 px-6 py-4">
    <h1 class="mb-2 text-center text-3xl font-bold">{i18n(I18nKey.archive)}</h1>
    <div class="text-base-content/80 text-center">
      {`${postCount} ${i18n(postCount > 1 ? I18nKey.postsCount : I18nKey.postCount)}`}
    </div>
    {
      (() => {
        function renderMonth(year: number, month: number) {
          let monthData = data
            .find((d) => d.year === year)
            ?.data.find((d) => d.month === month)?.data;
          if (!monthData) {
            return <p>SHOULD NOT RENDER THIS, IS A BUG</p>;
          }
          return (
            <ul class="list">
              {monthData.map(({ data }) => (
                <li class="list-row">
                  <div class="list-col-grow">
                    <a
                      href={`/posts/${data.slug}`}
                      title={data.title}
                      class="text-lg font-bold"
                    >
                      {data.title}
                    </a>
                    <div class="text-base-content/60 mt-2 flex flex-wrap items-start gap-x-4 gap-y-2 text-sm">
                      {[
                        {
                          icon: 'material-symbols:category-outline-rounded',
                          text: data.category || i18n(I18nKey.uncategorized),
                          link: getCategoryUrl(data.category),
                        },
                        ...data.tags.map((tag) => {
                          return {
                            icon: 'material-symbols:tag-rounded',
                            text: tag,
                            link: getTagUrl(tag),
                          };
                        }),
                      ].map((meta) => (
                        <div class="flex items-center gap-0">
                          <MetaIcon name={meta.icon} />
                          {meta.link ? (
                            <a href={meta.link} class="meta-text" title={meta.text}>
                              {meta.text}
                            </a>
                          ) : (
                            <span class="meta-text">{meta.text}</span>
                          )}
                        </div>
                      ))}
                    </div>
                  </div>
                  <span class="text-base-content/60">
                    {data.published.toLocaleDateString(siteConfig.lang)}
                  </span>
                </li>
              ))}
            </ul>
          );
        }

        function renderYear(year: number) {
          const yearData = data.find((d) => d.year === year)?.data;
          if (!yearData) {
            return <p>SHOULD NOT RENDER THIS, IS A BUG</p>;
          }
          return yearData.map(({ month }) => (
            <>
              <div
                class="divider mx-3 mt-8 scroll-mt-20 text-xl font-bold"
                id={`${year}/${month}`}
              >
                <a
                  href={`/archives/${year}/${month}`}
                  title={`${year}/${month}`}
                  class="hover:text-primary duration-200"
                >
                  {month}
                </a>
              </div>
              <div class="mx-2">{renderMonth(year, month)}</div>
            </>
          ));
        }

        function renderAll() {
          return data.map(({ year }) => (
            <>
              <div class="divider mt-12 scroll-mt-20 text-2xl font-bold" id={`${year}`}>
                <a
                  href={`/archives/${year}`}
                  title={`${year}`}
                  class="hover:text-primary duration-200"
                >
                  {year}
                </a>
              </div>
              <div class="px-4">{renderYear(year)}</div>
            </>
          ));
        }

        if (slug) {
          const [year, month] = slug.split('/').map(Number);
          if (month) {
            return renderMonth(year, month);
          }
          return renderYear(year);
        } else {
          return renderAll();
        }
      })()
    }
  </div>
  <Fragment slot="aside-fixed">
    <ProfileCard />
  </Fragment>
  <Fragment slot="aside-sticky">
    {
      !slug && (
        <TOC
          headings={data.flatMap(({ year, data }) => [
            {
              depth: 2,
              text: year.toString(),
              slug: `${year}`,
            },
            ...data.map(({ month }) => ({
              depth: 3,
              text: month.toString(),
              slug: `${year}/${month}`,
            })),
          ])}
        />
      )
    }
  </Fragment>
</GridLayout>
