---
import { licenseConfig, profileConfig, siteConfig } from '@/config';
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';

interface Props {
  time: Date;
  lang?: string;
  license?: string;
  licenseUrl?: string;
}

const { time, license, licenseUrl, lang } = Astro.props;

const infomations = [
  {
    key: i18n(I18nKey.publishedAt),
    value: time.toLocaleDateString(lang || siteConfig.lang.replace('_', '-')),
    time: time,
  },
  {
    key: i18n(I18nKey.author),
    value: profileConfig.name,
    link: '/about/',
  },
  {
    key: i18n(I18nKey.license),
    value: license || licenseConfig.name,
    link: licenseUrl || licenseConfig.url,
  },
];
---

<div class="card border-primary/10 bg-primary/25 my-4 border-2">
  <div class="card-body grid grid-cols-2 gap-x-4 p-4 text-lg">
    {
      infomations.map((info) => (
        <Fragment>
          <span class="mr-4 text-right font-bold">{info.key}</span>
          {(() => {
            const text = info.time ? (
              <time datetime={info.time?.toISOString()}>{info.value}</time>
            ) : (
              <span>{info.value}</span>
            );
            return info.link ? (
              <a href={info.link} title={info.value} class="text-primary hover:underline">
                {text}
              </a>
            ) : (
              text
            );
          })()}
        </Fragment>
      ))
    }
  </div>
</div>
