---
import type { BlogPostData } from '@/types/data';
import { getSortedPosts, getTags, getTagUrl } from '@/utils/content-utils';
import Timeline from '@components/Timeline.astro';
import Button from '@components/widgets/Button.astro';
import PostCard from '@components/widgets/PostCard.astro';
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import MainLayout from '@layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';

const tags = await getTags();
const allPosts = await getSortedPosts();

const tagPosts = new Map<string, { body: string; data: BlogPostData }[]>();
tags.forEach((tag) => {
  const posts = allPosts.filter((post) => post.data.tags?.includes(tag)).slice(0, 3);
  tagPosts.set(tag, posts);
});
const untaggedPosts = allPosts
  .filter((post) => !post.data.tags || post.data.tags.length === 0)
  .slice(0, 3);
if (untaggedPosts.length > 0) tagPosts.set(i18n(I18nKey.untagged) as string, untaggedPosts);
---

<MainLayout title={i18n(I18nKey.tags)}>
  <div class="mx-auto flex max-w-(--breakpoint-xl) flex-col items-center">
    <h1 class="my-8 text-3xl font-bold">{i18n(I18nKey.tags)}</h1>
    <Timeline items={Array.from(tagPosts.keys())}>
      <fragment slot="title">
        {
          (tag: string) => (
            <div class="mb-6 flex items-center justify-between">
              <h2 class="text-2xl font-bold">{tag}</h2>
              <Button href={getTagUrl(tag)} title={tag} class="pl-3">
                {i18n(I18nKey.more)}
                <Icon name="material-symbols:chevron-right-rounded" class="text-2xl" />
              </Button>
            </div>
          )
        }
      </fragment>
      <fragment slot="body">
        {
          (tag: string) => (
            <div class="ml-4 flex flex-col gap-4">
              {tagPosts.get(tag)?.map((post) => (
                <PostCard
                  title={post.data.title}
                  url={`/posts/${post.data.slug}/`}
                  published={post.data.published}
                  tags={post.data.tags || []}
                  category={post.data.category}
                  cover={post.data.cover}
                  description={post.data.description}
                />
              ))}
            </div>
          )
        }
      </fragment>
    </Timeline>
  </div>
</MainLayout>
