---
import type { BlogPostData } from '@/types/data';
import { getCategoryUrl, getSortedPosts, getTags, getTagUrl } from '@/utils/content-utils';
import Button from '@components/widgets/Button.astro';
import MetaIcon from '@components/widgets/MetaIcon.astro';
import ProfileCard from '@components/widgets/ProfileCard.astro';
import TOC from '@components/widgets/TOC.astro';
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import GridLayout from '@layouts/GridLayout.astro';
import { Icon } from 'astro-icon/components';

const tags = await getTags();
const allPosts = await getSortedPosts();

const tagPosts = new Map<string, { body: string; data: BlogPostData }[]>();
tags.forEach((tag) => {
  const posts = allPosts.filter((post) => post.data.tags?.includes(tag)).slice(0, 3);
  tagPosts.set(tag, posts);
});
const untaggedPosts = allPosts
  .filter((post) => !post.data.tags || post.data.tags.length === 0)
  .slice(0, 3);
if (untaggedPosts.length > 0) tagPosts.set(i18n(I18nKey.untagged) as string, untaggedPosts);
---

<GridLayout title={i18n(I18nKey.tags)}>
  <div
    class="card card-border border-base-300 mx-auto flex flex-col items-center border-2 px-6 py-4"
  >
    <div class="tooltip md:tooltip-right tooltip-bottom mx-auto w-fit">
      <h1 class="text-center text-3xl font-bold">{i18n(I18nKey.tags)}</h1><div
        class="tooltip-content flex flex-col"
      >
        <div>
          {
            `${allPosts.length} ${i18n(
              allPosts.length > 1 ? I18nKey.postsCount : I18nKey.postCount
            )}, `
          }
        </div>
        <div>
          {`${tags.length} ${i18n(tags.length > 1 ? I18nKey.tagsCount : I18nKey.tagCount)}`}
        </div>
      </div>
    </div>
    <ul
      class="timeline timeline-snap-icon timeline-vertical max-md:timeline-compact w-full p-4"
    >
      {
        Array.from(tagPosts.entries()).map(([tag, posts], index) => (
          <li>
            {index > 0 && <hr />}
            <div class="timeline-middle">
              <Icon name="material-symbols:add-circle-rounded" class="text-xl" />
            </div>
            <div class:list={[`timeline-${index % 2 === 0 ? 'start' : 'end'}`, 'w-full']}>
              <div
                class:list={[
                  index % 2 === 0 && 'md:flex-row-reverse',
                  'mx-4 flex flex-row items-center justify-between',
                ]}
              >
                <h2 class="scroll-mt-20 text-2xl font-bold" id={`heading-${tag}`}>
                  {tag}
                </h2>
                <Button href={getTagUrl(tag)} title={tag} class="pl-3">
                  {i18n(I18nKey.more)}
                  <Icon name="material-symbols:chevron-right-rounded" class="text-2xl" />
                </Button>
              </div>
              <ul class="list">
                {posts.map(({ data }) => (
                  <li class="list-row">
                    <div class="list-col-grow">
                      <a
                        href={`/posts/${data.slug}`}
                        title={data.title}
                        class="text-lg font-bold"
                      >
                        {data.title}
                      </a>
                      <div class="text-base-content/60 mt-2 flex flex-wrap items-start gap-x-4 gap-y-2 text-sm">
                        {[
                          {
                            icon: 'material-symbols:category-outline-rounded',
                            text: data.category || i18n(I18nKey.uncategorized),
                            link: getCategoryUrl(data.category),
                          },
                          ...data.tags.map((tag) => {
                            return {
                              icon: 'material-symbols:tag-rounded',
                              text: tag,
                              link: getTagUrl(tag),
                            };
                          }),
                        ].map((meta) => (
                          <div class="flex items-center gap-0">
                            <MetaIcon name={meta.icon} />
                            {meta.link ? (
                              <a href={meta.link} class="meta-text" title={meta.text}>
                                {meta.text}
                              </a>
                            ) : (
                              <span class="meta-text">{meta.text}</span>
                            )}
                          </div>
                        ))}
                      </div>
                    </div>
                  </li>
                ))}
              </ul>
            </div>
            <hr />
          </li>
        ))
      }
    </ul>
  </div>
  <Fragment slot="aside-fixed">
    <ProfileCard />
  </Fragment>
  <Fragment slot="aside-sticky">
    <TOC
      headings={tags.map((tag) => ({
        text: tag,
        slug: `heading-${tag}`,
        depth: 2,
      }))}
    />
  </Fragment>
</GridLayout>
