---
import type { BlogPostData } from '@/types/data';
import { getCategories, getSortedPosts } from '@/utils/content-utils';
import Timeline from '@components/Timeline.astro';
import Button from '@components/widgets/Button.astro';
import PostCard from '@components/widgets/PostCard.astro';
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import MainLayout from '@layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';

const categories = await getCategories();
const allPosts = await getSortedPosts();

const categoryPosts = new Map<string, { body: string; data: BlogPostData }[]>();
categories.forEach((category) => {
  const posts = allPosts.filter((post) => post.data.category === category).slice(0, 3);
  categoryPosts.set(category, posts);
});
const uncategorizedPosts = allPosts.filter((post) => !post.data.category).slice(0, 3);
if (uncategorizedPosts.length > 0)
  categoryPosts.set(i18n(I18nKey.uncategorized) as string, uncategorizedPosts);
---

<MainLayout title={i18n(I18nKey.categories)}>
  <div class="mx-auto flex max-w-(--breakpoint-xl) flex-col items-center">
    <h1 class="my-8 text-3xl font-bold">{i18n(I18nKey.categories)}</h1>
    <Timeline items={Array.from(categoryPosts.keys())}>
      <fragment slot="title">
        {
          (category: string) => (
            <div class="mb-6 flex items-center justify-between">
              <h2 class="text-2xl font-bold">{category}</h2>
              <Button
                href={`/archives/categories/${category === i18n(I18nKey.uncategorized) ? I18nKey.uncategorized : category.replaceAll(/[\\/]/g, '-')}/1/`}
                title={category}
                class="pl-3!"
              >
                {i18n(I18nKey.more)}
                <Icon name="material-symbols:chevron-right-rounded" class="text-2xl" />
              </Button>
            </div>
          )
        }
      </fragment>
      <fragment slot="body">
        {
          (category: string) => (
            <div class="ml-4 flex flex-col gap-4">
              {categoryPosts.get(category)?.map((post) => (
                <PostCard
                  title={post.data.title}
                  url={`/posts/${post.data.slug}/`}
                  published={post.data.published}
                  tags={post.data.tags || []}
                  category={post.data.category}
                  cover={post.data.cover}
                  description={post.data.description}
                />
              ))}
            </div>
          )
        }
      </fragment>
    </Timeline>
  </div>
</MainLayout>
