---
import { footerConfig, profileConfig } from '@/config';

const currentYear = new Date().getFullYear();
---

<footer id="footer" class="relative mt-auto w-full flex-shrink-0">
  <div id="footer-links"></div>
  <div
    id="footer-bar-wrapper"
    class="theme-card-bg theme-border relative bottom-0 mt-4 max-h-fit w-full overflow-hidden border-t-2 p-4"
  >
    <div id="footer-bar" class="flex justify-between gap-6">
      <div id="footer-left" class="text-center">
        © {footerConfig.copyrightYear}{
          footerConfig.copyrightYear < currentYear && `-${currentYear}`
        }
        <a href="/about/">{profileConfig.name}</a>
      </div>
      <div id="footer-right" class="flex flex-wrap justify-items-end gap-4">
        {
          footerConfig.rightItems.map((item) => (
            <span>
              {item.map((c) => {
                if (typeof c === 'string') return <span>{c}</span>;
                else if ('link' in c)
                  return (
                    <a href={c.link} class={c.class || ''}>
                      {c.text}
                    </a>
                  );
                else return <span class:list={c.class || ''}>{c.text}</span>;
              })}
            </span>
          ))
        }
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  a {
    @apply duration-150;

    &:hover {
      @apply text-[var(--theme-color-light)] dark:text-[var(--theme-color-dark)];
    }
  }
</style>
