---
import { footerConfig, profileConfig } from '@/config';

const currentYear = new Date().getFullYear();
---

<footer class="footer mt-auto flex-shrink-0"></footer>
<footer
  class="footer border-t border-base-300 bg-base-200 px-10 py-4 text-base text-base-content"
>
  <aside class="items-center">
    <p>
      © {footerConfig.copyrightYear}{
        footerConfig.copyrightYear < currentYear && `-${currentYear}`
      }
      <a href="/about/" class="font-bold">{profileConfig.name}</a>
    </p>
  </aside>
  <nav class="flex flex-row md:place-self-center md:justify-self-end">
    {
      footerConfig.rightItems.map((item) => (
        <span>
          {item.map((c) => {
            if (typeof c === 'string') return <span>{c}</span>;
            else if ('link' in c)
              return (
                <a href={c.link} class={c.class || ''}>
                  {c.text}
                </a>
              );
            else return <span class:list={c.class || ''}>{c.text}</span>;
          })}
        </span>
      ))
    }
  </nav>
</footer>

<style lang="scss">
  a {
    @apply duration-150;

    &:hover {
      @apply text-primary;
    }
  }
</style>
