---
import { footerConfig, profileConfig } from '@/config';

const currentYear = new Date().getFullYear();
---

<footer class="footer mt-auto shrink-0" id="page-footer"></footer>
<footer
  class="footer border-base-300 bg-base-200 text-base-content flex flex-col justify-between border-t px-10 py-4 text-lg md:flex-row"
  id="footer"
>
  <aside class="items-center">
    <p>
      © {footerConfig.copyrightYear}{
        footerConfig.copyrightYear < currentYear && `-${currentYear}`
      }
      <a href="/about/" class="font-bold">{profileConfig.name}</a>
    </p>
  </aside>
  <nav class="flex flex-row">
    {
      footerConfig.rightItems.map((item) => (
        <span>
          {item.map((c) => {
            if (typeof c === 'string') return <span>{c}</span>;
            else if ('link' in c)
              return (
                <a href={c.link} class={c.class || ''}>
                  {c.text}
                </a>
              );
            else return <span class:list={c.class || ''}>{c.text}</span>;
          })}
        </span>
      ))
    }
  </nav>
</footer>

<style>
  a {
    @apply duration-150;

    &:hover {
      color: var(--color-primary);
    }
  }
</style>
