---
// Usage:
//  <TimeLine items={items}>
//    <fragement slot="title">
//      {(item) => (titleHTML)}
//    </fragement>
//    <fragement slot="body">
//      {(item) => (bodyHTML)}
//    </fragement>
//  </TimeLine>
//
// The result will same to:
//  <div class="timeline-classes">
//    {
//      items.map((item) => (
//        <div class="timeline-node-wrapper-classes">
//          <div class="timeline-node-classes"></div>
//          {titleHTML}
//          {bodyHTML}
//        </div>
//    }
//  </div>

interface Props {
  items: unknown[];
  class?: string;
}

const { items, class: className } = Astro.props;

const renderedItems = await Promise.all(
  items.map(async (item) => {
    return {
      title: Astro.slots.has('title') ? await Astro.slots.render('title', [item]) : undefined,
      body: Astro.slots.has('body') ? await Astro.slots.render('body', [item]) : undefined,
    };
  })
);
---

<div class:list={['relative flex flex-col empty:min-h-12', className]}>
  <div
    class="timeline absolute top-0 left-4 h-full w-0.5 bg-linear-to-b from-blue-500 to-purple-500 opacity-60"
  >
  </div>
  {
    renderedItems.map((item) => (
      <div class="relative mb-12 pl-12">
        <div class="absolute top-5 left-2 h-4 w-4 rounded-full bg-blue-500 shadow-lg transition-transform duration-300 hover:scale-125" />
        <Fragment set:html={item.title} />
        <Fragment set:html={item.body} />
      </div>
    ))
  }
</div>
